
h1, h2, h3, h4, p, li, a
{
    font-family:"Montserrat";
    margin:0;
}

#title {
    font-variant-caps: small-caps;
    font-size: 5em;
}

body {
    text-align: center;
    font-variant-caps: all-small-caps;
}